---
title: Message - Dialog Documentation
description: Documentation for the message API resource. A Message represents an interaction between a bot and a user.
keywords:
---

<div class="container pb-3" id="main">
  <div class="row">
    <div class="col-sm-3">
      <%= partial '/reference/navigation.html.erb' %>
    </div>

    <div class="col-sm-9">
      <h2 class="page-header" id="message">Message</h2>

      <p class="lead">This endpoint allows to interact with <a href="/concepts#message">messages</a>.</p>

      <h4 class="page-header" id="object">Message object</h4>

      <pre>
{
  "created_at": 1472587314.50399,
  "updated_at": 1472587314.50399,
  "conversation_id": "<span class="js-distinct-id"></span>",
  "creator_type": "interlocutor",
  "id": "<span class="js-distinct-id"></span>",
  "creator_id": "<span class="js-distinct-id"></span>",
  "distinct_id": "<span class="js-distinct-id"></span>",
  "mtype": "text",
  "sent_at": 1472587314.10399,
  "platform": "messenger",
  "provider": "smooch",
  "properties": {
    "text": "Hey ho, let's go"
  }
}</pre>

      <h4 class="page-header" id="retrieve">Retrieve a message</h4>
      <p>Retrieves the details of an existing message. You need to supply the bot ID, the conversation ID and the message unique identifier that was returned upon message creation.</p>

      <pre>curl https://api.dialoganalytics.com/v1/b/:id/conversations/:id/messages/:id</pre>

      <h4 class="page-header" id="list">List all messages</h4>
      <p>Returns a list of the conversation's messages. The messages are returned sorted by creation date, with the most recent messages appearing first.</p>

      <pre>curl https://api.dialoganalytics.com/v1/b/:id/conversations/:id/messages</pre>

      <h2 class="page-header" id="platforms">Platforms</h2>
      <p>These values are valid platforms:</p>
      <ul>
        <li><code>android</code></li>
        <li><code>api</code></li>
        <li><code>frontendEmail</code></li>
        <li><code>ios</code></li>
        <li><code>kik</code></li>
        <li><code>line</code></li>
        <li><code>messenger</code></li>
        <li><code>motion.ai</code></li>
        <li><code>officehours</code></li>
        <li><code>slack</code></li>
        <li><code>sms</code></li>
        <li><code>telegram</code></li>
        <li><code>twilio</code></li>
        <li><code>viber</code></li>
        <li><code>web</code></li>
        <li><code>wechat</code></li>
        <li><code>whisper</code></li>
      </ul>

      <h2 class="page-header" id="types">Message types</h2>

      <p>Message types are broken down in these categories:</p>

      <div class="row">
        <div class="col-sm-3">
          <h5>Base</h5>
          <ul>
            <li><a href="#text">text</a></li>
            <li><a href="#location">location</a></li>
            <li><a href="#quick-reply">quick reply</a></li>
          </ul>
        </div>
        <div class="col-sm-3">
          <h5>Multimedia</h5>
          <ul>
            <li><a href="#multimedia">image</a></li>
            <li><a href="#multimedia">audio</a></li>
            <li><a href="#multimedia">video</a></li>
            <li><a href="#multimedia">file</a></li>
            <li><a href="#multimedia">link</a></li>
            <li><a href="#multimedia">sticker</a></li>
          </ul>
        </div>
        <div class="col-sm-3">
          <h5>Event</h5>
          <ul>
            <li><a href="#optin-event">optin</a></li>
            <li><a href="#postback-event">postback</a></li>
            <li><a href="#referral-event">referral</a></li>
          </ul>
        </div>
        <div class="col-sm-3">
          <h5>Template</h5>
          <ul>
            <li><a href="#button-template">button</a></li>
            <li><a href="#generic-template">generic</a></li>
            <li><a href="#list-template">list</a></li>
            <li><a href="#receipt-template">receipt</a></li>
          </ul>
        </div>
      </div>

      <hr class="my-3">

      <%= partial 'reference/messages/base' %>

      <hr class="my-3">

      <%= partial 'reference/messages/multimedia' %>

      <hr class="my-3">

      <%= partial 'reference/messages/events' %>

      <hr class="my-3">

      <%= partial 'reference/messages/templates' %>

      <hr class="my-3">

      <%= partial 'reference/messages/buttons' %>
    </div>
  </div>
</div>
