---
title: Message - Dialog Documentation
description: A Message represents an interaction between your bot and a user.
keywords:
---

<div class="container p-b-lg" id="main">
  <div class="row">
    <div class="col-sm-3">
      <%= partial 'navigation' %>
    </div>

    <div class="col-sm-9">
      <h2 class="page-header" id="message">Message</h2>

      <p class="lead">A Message represents an interaction between your bot and a user.</p>

      <h4 class="page-header" id="object">Message object</h4>

      <pre>
{
  "id": "dc78e9b4-605a-44bd-8691-31871cbe7f90",
  "created_at": 1472587314.50399,
  "updated_at": 1472587314.50399,
  "conversation_id": "d48a26dc-e531-48aa-9d82-94bf67a53b5d",
  "creator_type": "Interlocutor",
  "creator_id": "58410ef1-521b-4731-b648-e5dd1ccbfa6f",
  "distinct_id": "3f1c394a-b649-4839-b9d2-f8542b8026d1",
  "mtype": "text",
  "sent_at": 1472587314.10399,
  "platform": "messenger",
  "provider": "smooch",
  "properties": {
    "text": "Hey ho, let's go",
    "confidence": 0.88
  }
}</pre>

      <h4 class="page-header" id="show">Retrieve a message</h4>
      <p>Retrieves the details of an existing message. You need to supply the bot ID, the conversation ID and the message unique identifier that was returned upon message creation.</p>

      <pre>curl https://api.dialoganalytics.com/v1/b/:id/conversations/:id/messages/:id</pre>

      <h4 class="page-header" id="index">List all messages</h4>
      <p>Returns a list of the conversation's messages. The messages are returned sorted by creation date, with the most recent messages appearing first.</p>

      <pre>curl https://api.dialoganalytics.com/v1/b/:id/conversations/:id/messages</pre>

      <h2 class="page-header" id="types">Message types</h2>

      <div class="row">
        <div class="col-sm-6">
          <h5>Currently supported</h5>
          <ul>
            <li><a href="#audio">audio</a></li>
            <li><a href="#command">command</a></li>
            <li><a href="#contact">contact</a></li>
            <li><a href="#document">document</a></li>
            <li><a href="#image">image</a></li>
            <li><a href="#link">link</a></li>
            <li><a href="#location">location</a></li>
            <li><a href="#postback">postback</a></li>
            <li><a href="#text">text</a></li>
            <li><a href="#sticker">sticker</a></li>
            <li><a href="#template-generic">generic template</a></li>
            <li><a href="#template-receipt">receipt template</a></li>
            <li><a href="#template-button">button template</a></li>
            <li><a href="#venue">venue</a></li>
            <li><a href="#video">video</a></li>
            <li><a href="#voice">voice</a></li>
          </ul>
        </div>

        <div class="col-sm-6">
          <h5>Coming soon</h5>
          <ul>
            <li>account linking</li>
            <li>airline boardingpass</li>
            <li>airline checkin</li>
            <li>airline itinerary</li>
            <li>airline update</li>
            <li>delivery-receipt</li>
            <li>friend-picker</li>
            <li>is-typing</li>
            <li>optin</li>
            <li>quick reply</li>
            <li>read-receipt</li>
            <li>rich message</li>
            <li>scan-data</li>
            <li>start-chatting</li>
            <li>web url</li>
          </ul>
        </div>
      </div>


      <%= partial 'message-types/table' %>

      <%= partial 'message-types/audio' %>
      <%= partial 'message-types/command' %>
      <%= partial 'message-types/contact' %>
      <%= partial 'message-types/document' %>
      <%= partial 'message-types/image' %>
      <%= partial 'message-types/link' %>
      <%= partial 'message-types/location' %>
      <%= partial 'message-types/postback' %>
      <%# partial 'message-types/scan_data' %>
      <%= partial 'message-types/sticker' %>
      <%= partial 'message-types/template_button' %>
      <%= partial 'message-types/template_generic' %>
      <%= partial 'message-types/template_receipt' %>
      <%= partial 'message-types/text' %>
      <%= partial 'message-types/venue' %>
      <%= partial 'message-types/video' %>
      <%= partial 'message-types/voice' %>
    </div>
  </div>
</div>
