---
title: Message - Dialog Documentation
description:
keywords:
---

<div class="container p-b-lg" id="main">
  <div class="row">
    <div class="col-sm-3">
      <%= partial 'navigation' %>
    </div>

    <div class="col-sm-9">
      <h2 class="page-header" id="message">Message</h2>

      <p class="lead">A Message represents an interaction between your bot and a user. This action allows to track both <strong>sent</strong> and <strong>received</strong> messages.</p>

      <h4 class="page-header">Request</h4>

      <pre>
curl -XPOST -H "Content-type: application/json" -d '{
  "message": {
    "platform": "telegram",
    "creator": "creator-id",
    "conversation_id" "2e308c61-eaa3-493b-8037-1529960f81a5",
    "type": "text",
    "sent_at": "1462447199",
    "properties": {
      "text": "Hello world"
    }
  }
}' 'https://api.dialoganalytics.com/v1/messages?token=XJ2ws4jZsUwHmPBfsQMj82EP'</pre>

      <h4 class="page-header">Parameters</h4>

      <div class="panel panel-default">
        <div class="panel-body">
          <table class="table m-b-0">
            <thead>
              <tr>
                <th>Param</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <i>platform</i>
                </td>
                <td>
                  <strong>string</strong> <span class="label label-primary">Required</span>
                  <p>The platform on which the message is sent. Possible values: <code>telegram</code>, <code>messenger</code>, <code>kik</code>, <code>slack</code>, <code>line</code>, <code>skype</code>, <code>wechat</code>, <code>whatsapp</code>.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <i>creator</i>
                </td>
                <td>
                  <strong>string</strong> <span class="label label-primary">Required</span>
                  <p>ID of sender, either a unique user ID or the bot's token.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <i>conversation_id</i>
                </td>
                <td>
                  <strong>string</strong> <span class="label label-primary">Required</span>
                  <p>A unique conversation, thread or channel ID in which the message has been delivered.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <i>type</i>
                </td>
                <td>
                  <strong>string</strong> <span class="label label-primary">Required</span>
                  <p>Message type. Refer to <a href="#message-types">message types</a> for supported values.</p>
                  <p>Note that additional <code>properties</code> are expected depending of the message type.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <i>sent_at</i>
                </td>
                <td>
                  <strong>integer</strong> <span class="label label-primary">Required</span>
                  <p>Timestamp in UTC epoch seconds.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <i>distinct_id</i>
                </td>
                <td>
                  <strong>string</strong> <span class="label label-default">Optional</span>
                  <p>Message ID assigned by the issuing platform.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <i>properties</i>
                </td>
                <td>
                  <strong>hash</strong> <span class="label label-default">Optional</span>
                  <p>Additional message properties. Mostly used to add interesting metadata dependent on <a href="#message-types">message types</a>.</p>
                  <p>You may include a <code>group</code> property with <code>name</code> and <code>distinct_id</code> properties to track Slack teams.</p>
                  <pre>
...,
properties: {
  group: {
    name: "Dialog",
    distinct_id: "8721hnj234"
  }
}
</pre>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <h2 class="page-header" id="message-types">Message types</h2>

      <div class="row">
        <div class="col-sm-6">
          <h5>Currently supported</h5>
          <ul>
            <li><a href="#audio">audio</a></li>
            <li><a href="#command">command</a></li>
            <li><a href="#contact">contact</a></li>
            <li><a href="#document">document</a></li>
            <li><a href="#image">image</a></li>
            <li><a href="#link">link</a></li>
            <li><a href="#location">location</a></li>
            <li><a href="#postback">postback</a></li>
            <li><a href="#text">text</a></li>
            <li><a href="#sticker">sticker</a></li>
            <li><a href="#template-generic">generic template</a></li>
            <li><a href="#template-receipt">receipt template</a></li>
            <li><a href="#template-button">button template</a></li>
            <li><a href="#venue">venue</a></li>
            <li><a href="#video">video</a></li>
            <li><a href="#voice">voice</a></li>
          </ul>
        </div>

        <div class="col-sm-6">
          <h5>Coming soon</h5>
          <ul>
            <li>account linking</li>
            <li>airline boardingpass</li>
            <li>airline checkin</li>
            <li>airline itinerary</li>
            <li>airline update</li>
            <li>delivery-receipt</li>
            <li>friend-picker</li>
            <li>is-typing</li>
            <li>optin</li>
            <li>quick reply</li>
            <li>read-receipt</li>
            <li>rich message</li>
            <li>scan-data</li>
            <li>start-chatting</li>
            <li>web url</li>
          </ul>
        </div>
      </div>


      <%= partial 'message-types/table' %>

      <%= partial 'message-types/audio' %>
      <%= partial 'message-types/command' %>
      <%= partial 'message-types/contact' %>
      <%= partial 'message-types/document' %>
      <%= partial 'message-types/image' %>
      <%= partial 'message-types/link' %>
      <%= partial 'message-types/location' %>
      <%= partial 'message-types/postback' %>
      <%# partial 'message-types/scan_data' %>
      <%= partial 'message-types/sticker' %>
      <%= partial 'message-types/template_button' %>
      <%= partial 'message-types/template_generic' %>
      <%= partial 'message-types/template_receipt' %>
      <%= partial 'message-types/text' %>
      <%= partial 'message-types/venue' %>
      <%= partial 'message-types/video' %>
      <%= partial 'message-types/voice' %>
    </div>
  </div>
</div>
