---
title: Track - Dialog Documentation
description: Documentation of the track API endpoint allowing to ingest both sent and received messages.
keywords:
---

<div class="container pb-3" id="main">
  <div class="row">
    <div class="col-sm-3">
      <%= partial '/reference/navigation.html.erb' %>
    </div>

    <div class="col-sm-9">
      <h2 class="page-header" id="track">Track</h2>

      <p class="lead">This endpoint allows tracking <%= link_to "conversations", "/concepts.html#conversation" %>, <%= link_to "interlocutors", "/concepts.html#interlocutor" %> and <%= link_to "messages", "/concepts.html#message" %> in a single API call. It's the easiest way to instrument a conversational application without having to manage state.</p>

      <h4 class="page-header">Request</h4>

      <pre>
curl -X POST -H "Content-Type: application/json" -d '{
  "message": {
    "platform": "messenger",
    "provider": "dialog-node",
    "mtype": "text",
    "sent_at": <span class="js-time"></span>,
    "nlp": {
      "intents": [{
        "name": "create.order",
        "confidence": 0.98
      }]
    },
    "properties": {
      "text": "Hello world"
    }
  },
  "conversation": {
    "distinct_id": "<span class="js-distinct-id"></span>"
  },
  "creator": {
    "distinct_id": "<span class="js-distinct-id"></span>",
    "type": "interlocutor",
    "username": "elon",
    "phone": "141812312345",
    "email": "elon@spacex.com",
    "first_name": "Elon",
    "last_name": "Musk",
    "gender": "male",
    "locale": "us",
    "profile_picture": "http://spacex.com/elon.jpg",
    "timezone": -7
  }
}' 'https://api.dialoganalytics.com/v1/b/a925a32e/track?token=test'</pre>

      <h4 class="page-header">Parameters</h4>

      <p>You must provide the <code>/track</code> endpoint with three core resources: <code>message</code>, <code>conversation</code>, and <code>creator</code>.</p>

      <div class="card">
        <div class="card-header">
          Message
        </div>
        <table class="table mb-0">
          <thead>
            <tr>
              <th>Param</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <i>platform</i>
              </td>
              <td>
                <strong>string</strong> <span class="tag tag-success">Required</span>
                <p>The platform on which the message is sent. See all <%= link_to "accepted values", "/reference/message.html#platforms" %>.</p>
              </td>
            </tr>
            <tr>
              <td>
                <i>mtype</i>
              </td>
              <td>
                <strong>string</strong> <span class="tag tag-success">Required</span>
                <p>Message type. Refer to <%= link_to "message types", "/reference/message.html#types" %> for supported values.</p>
                <p>Note that additional <code>properties</code> are expected depending on the message type.</p>
              </td>
            </tr>
            <tr>
              <td>
                <i>sent_at</i>
              </td>
              <td>
                <strong>number</strong> <span class="tag tag-success">Required</span>
                <p>A <a href="https://en.wikipedia.org/wiki/Unix_time">Unix timestamp</a> with milliseconds.</p>
                <p>Note that precision is important and preferable in all cases since a system could generate multiple messages during the same second.</p>
                <p>Example: <code>1474215799.4329312</code>, <code>1474215799.432</code> or <code>1474215799</code> are valid values.</p>
              </td>
            </tr>
            <tr>
              <td>
                <i>provider</i>
              </td>
              <td>
                <strong>string</strong> <span class="tag tag-default">Optional</span>
                <p>The provider via which the message is sent. This is a user-defined attribute that can be used to segment and enforce some of your business logic.</p>
                <p>Example: <code>smooch</code>, <code>botpress-dialog</code>.</p>
              </td>
            </tr>
            <tr>
              <td>
                <i>nlp</i>
              </td>
              <td>
                <strong>hash</strong> <span class="tag tag-default">Optional</span>
                <p>Natural Language Processing (NLP) or Natural Language Understanging (NLU) message metadata.</p>

                <hr>

                <i>intents</i>
                <strong>array</strong>
                <p>Collection of intents detected in the message.</p>

                <table class="table mb-0">
                  <thead>
                    <tr>
                      <th>Property</th>
                      <th>Description</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <i>name</i>
                      </td>
                      <td>
                        <strong>string</strong> <span class="tag tag-success">Required</span>
                        <p>Name of the intent. Maximum length of 256 characters.</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <i>confidence</i>
                      </td>
                      <td>
                        <strong>float</strong> <span class="tag tag-default">Optional</span>
                        <p>Confidence of the intent's classification in percent.</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <i>properties</i>
              </td>
              <td>
                <strong>hash</strong> <span class="tag tag-default">Optional</span>
                <p>Additional message properties. Used to add required metadata dependent on <%= link_to "message types", "/reference.html/message#types" %>.</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="card">
        <div class="card-header">
          Conversation
        </div>
        <table class="table mb-0">
          <thead>
            <tr>
              <th>Param</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <i>distinct_id</i>
              </td>
              <td>
                <strong>string</strong> <span class="tag tag-success">Required</span>
                <p>A unique conversation ID issued by the messaging platform. ID must be unique amongst the bot's conversation IDs.</p>
                <p>If the <code>distinct_id</code> is seen for the first time, then a new <%= link_to 'conversation', '/reference/conversation.html' %> will be created.</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="card">
        <div class="card-header">
          Creator
        </div>
        <table class="table mb-0">
          <thead>
            <tr>
              <th>Param</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <i>distinct_id</i>
              </td>
              <td>
                <strong>string</strong> <span class="tag tag-success">Required</span>
                <p>ID of the sender, either a unique user ID or the bot's ID. If the type is <code>interlocutor</code> then ID must be unique amongst the bot's interlocutor IDs.</p>
                <p>If the <code>distinct_id</code> is from a user and is seen for the first time, then a new <%= link_to 'interlocutor', '/reference/interlocutor.html' %> will be created.</p>
              </td>
            </tr>
            <tr>
              <td>
                <i>type</i>
              </td>
              <td>
                <strong>string</strong> <span class="tag tag-success">Required</span>
                <p>Either <code>interlocutor</code> or <code>bot</code>. Case insensitive.</p>
              </td>
            </tr>
            <tr>
              <td>
                <i>username</i>,
                <i>phone</i>,
                <i>email</i>,
                <i>first_name</i>,
                <i>last_name</i>,
                <i>gender</i>,
                <i>locale</i>,
                <i>profile_picture</i>,
                <i>timezone</i>
              </td>
              <td>
                <span class="tag tag-default">Optional</span>
                <p>If the <code>type</code> is <code>interlocutor</code>, then additional <%= link_to "interlocutor properties", "/reference/interlocutor.html#create" %> can also be set.</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
