<footer class="block-inverse p-y-md" id="footer">
  <div class="container">
    <div class="row">
      <div class="co-sm-12">
        Dialog • <a href="mailto:friends@dialoganalytics.com">Contact</a> • <%= link_to "Community", 'http://slack.dialoganalytics.com' %> • <%= link_to "Status", 'http://status.dialoganalytics.com' %> • <%= link_to "Jobs", "https://angel.co/dialog-analytics/jobs" %> • <%= link_to "Privacy", 'https://dialoganalytics.com/privacy' %> • <%= link_to "Terms", 'https://dialoganalytics.com/terms' %>
      </div>
    </div>
  </div>
</footer>
