<title><%= title %></title>

<meta name="description" content="<%= description %>">

<meta name="rating" content="general">
<meta name="keywords" content="<%= keywords %>">
<meta name="robots" content="index, follow">

<link rel="canonical" href="http://docs.dialoganalytics.com">
<meta name="referrer" content="origin">

<link rel="icon" href="/favicon.ico">
<link rel="icon" sizes="196x196" href="/assets/images/android-homescreen.png">
<link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png">

<!-- Open Graph -->
<meta property="og:type" content="website">
<meta property="og:title" content="<%= title %>">
<meta property="og:locale" content="en_US">
<meta property="og:url" content="http://docs.dialoganalytics.com">
<meta property="og:description" content="<%= description %>">
<meta property="og:site_name" content="Dialog Analytics">
<meta property="og:image" content="http://dialoganalytics.com/images/og-image.png">

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="<%= title %>">
<meta name="twitter:description" content="<%= description %>">
<meta name="twitter:url" content="http://docs.dialoganalytics.com">
<meta name="twitter:image:src" content="http://dialoganalytics.com/images/twitter-image.png">
